@import "./utils/mediasQueries";

// -------------- GENERAL --------------
//Variables
:root{
    //Couleurs
        //Dark Theme
        --background-dark:#293132;
        --border-dark:white;
        --main-color-dark:#B7C3F3;
        --hover-color-dark:#798acf;
        --film-dark : #F45B69;
        --tv-dark:#FA9F42;
        --book-dark:#28965A;

    //Marges & padding
    --margin-mobile:1.5rem;
    --padding-mobile:0.7rem;
    --padding-pc:1.5rem;
    --margin-pc: 4rem;

    //Animations
    --animate-duration: 4000ms;
}

//Document
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: var(--background-dark);
    color: white;
}

body {
    @include media-min($smallscreen) {
        max-width: 1000px;
        margin: auto;
        overflow-y: scroll;
    }
}

main {
    z-index: 0;
    opacity: 1;
}

//Textes
h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.6rem;
    @include media-min($tablet) {
        font-size: 1.9rem;
    }
    @include media-min($smallscreen) {
        font-size: 2.1rem;
    }
}

h2 {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.3rem;
    @include media-min($tablet) {
        font-size: 1.5rem;
    }
    @include media-min($smallscreen) {
        font-size: 1.7rem;
    }
}

p , input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    @include media-min($tablet) {
        font-size: 1rem;
    }
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    @include media-min($tablet) {
        font-size: 0.9rem;
    }
}

// -------------- HEADER --------------
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin:2rem 0 2.5rem 0;
    padding: 0 var(--padding-mobile) 0 var(--padding-mobile);
    @include media-min($smallscreen) {
        padding: 0 var(--padding-pc) 0 var(--padding-pc);
        margin:2rem 0 4rem 0;
      }
}

//Dark Mode bouton
.mode {
    display: flex;
    align-items: center;

    > p {
        margin-right: 7px;
        font-size: 0.8rem ;
    }

    .switch {
        font-size: 13px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;

        & input { //Cacher la checkbox de base 
            opacity: 0;
            width: 0;
            height: 0;
        }
      }

    .slider { //L'exterieur du slider
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        box-shadow: 0 0 0 2px var(--main-color-dark);
        border: 4px solid transparent;
        overflow: hidden;
        transition: .4s;
        background: transparent;

        &:before { //L'intérieur du slider
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: var(--main-color-dark);
            transform: translateX(-50%);
            transition: .4s;
        }
    }
    
    input:checked + .slider { //Background après clic
        background-color: white;
      }
      
    input:focus:checked + .slider {
        box-shadow: 0 0 0 2px white, 0 0 4px white;
      }
      
    input:checked + .slider:before { //Transition visuelle
        transform: translateX(1.5em);
      }
}

//------------- NAV BAR --------------
// Mise en page
nav {
    margin: 0 0 var(--margin-mobile) 0;
    padding: 0 var(--padding-mobile) 0 var(--padding-mobile);
    min-width: 100%;
    @include media-min($smallscreen) {
        padding: 0 var(--padding-pc) 0 var(--padding-pc);
        margin: 0 0 var(--margin-pc) 0;
    }

    .nav__list {
        display: flex;
        margin: 0 0 1rem 0;
    }

    .nav__filters {
        display: flex;
        margin: 0 0 var(--margin-mobile) 0;
    }
}

//Les boutons
.btn {
    color : black;
    width: 30vw;
    height: 3rem;
    border : 2px solid var(--background-dark);
    background-color: white;
    margin-right: 1vw;
    padding: 0.5rem;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 300;
    cursor: pointer;
    @include media-min($smallscreen) {
        width: 300px;
        }

    &:hover {
    border-color:var(--main-color-dark);
    }

    &.active {
    background-color: var(--main-color-dark);
    border-color:var(--main-color-dark);
    color:white;
    font-size: 0.7rem;
    font-weight: 600;
    @include media-min($tablet) {
        font-size: 1rem;
        }
    }
}

.btn__filters {
    width: 25vw;
    height: 2.3rem;
    transition: all 100ms;
    @include media-min($smallscreen) {
        width: 240px;
        }

    &--books {
        &:hover {
            border-color:var(--book-dark);
        }
        &.active {
            background-color: var(--book-dark);
            border-color:var(--book-dark);
        }
    }
    &--films {
        &:hover {
            border-color:var(--film-dark);
        }
        &.active {
            background-color: var(--film-dark);
            border-color:var(--film-dark);
        }
    }
    &--tvshows {
        &:hover {
            border-color:var(--tv-dark);
        }
        &.active {
            background-color: var(--tv-dark);
            border-color:var(--tv-dark);
        }
    }
}

// -------------- ADD BAR --------------
.add {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 0 var(--margin-mobile) 0;
    padding: 0 var(--padding-mobile) 0 var(--padding-mobile);
    min-width: 100%;
    justify-content: flex-start;
    @include media-min($smallscreen) {
        padding: 0 var(--padding-pc) 0 var(--padding-pc);
        margin: 0 0 var(--margin-mobile) 0;
        }

    &__input {
        width: 90%;
        height: 2.8rem;
        margin-right: 0px;
        border:1px solid var(--border-dark);
        padding: 0 0.5rem 0 0.5rem;
        border-radius: 2px;
    }

    &__btn {
        width: 15%;
        height: 2.9rem;
        background-color: var(--main-color-dark);
        border: 1px solid var(--background-dark);
        border-radius: 2px;
        color : white;
        font-weight: bold;
        cursor: pointer;
        transition: all 100ms;
        @include media-min($smallscreen) {
            width: 150px;
            }
        
        &:hover {
            background-color: var(--hover-color-dark);
        }
            
        &--disabled {
            background-color: grey;
            border: 1px solid grey;
            cursor: auto;

            &:hover {
                background-color: grey;
            }
        }
    }
}

// -------------- FENETRE MODALE --------------
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:40%;
    left:50%;
    z-index: 1; //Défini la position devant le contenu de base
    transform: translate(-50%, -50%); // Centrer la fenêtre modale
    width: clamp(300px, 80vw , 800px);
    padding: 2rem;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid white;

    * {
        background-color: inherit; //Tous les enfants héritent du même background-color
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-min($tablet) {
            flex-direction: row;
            }

        > h3 {
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 1.2rem;
        }

        > .theme {
            padding: 7px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 1rem;
            min-width: 120px;

            &--book {
                border: 2px solid var(--book-dark);
                color : var(--book-dark);
            }
            &--films {
                border: 2px solid var(--film-dark);
                color : var(--film-dark);
            }
            &--tv {
                border: 2px solid var(--tv-dark);
                color : var(--tv-dark);
            }

            i {
                background-color: rgba(0, 0, 0, 0.9); ;
            }
        }
    }
}

// -------------- LIST --------------
//To do list
.list {
    margin: 0 0 var(--margin-mobile) 0;
    padding: 0 var(--padding-mobile) 0 var(--padding-mobile);
    @include media-min($smallscreen) {
        padding: 0 var(--padding-pc) 0 var(--padding-pc);
        margin: 0 0 var(--margin-pc) 0;
        }

    &__title {
        margin-bottom: 10px;
    }

    &__content {

        .item {
            display: flex;
            // border: 1px solid var(--border-dark);
            border-bottom: 1px solid var(--border-dark) ;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            position: relative;

            &__check {
                margin-top: 2px;
                margin-right: 12px;

                input:checked {
                    background-color: red;
                }
            }

            &__content {
                margin-right: 12px;

                &__name {
                    margin-bottom: 5px;
                }
            }

            &__trash {
                position: absolute;
                top:30%;
                right: 0;
                margin-right: 12px;
                cursor: pointer;

                > i {
                    font-size: 1.2rem;
                    color: var(--main-color-dark);
                }
            }
        }
    }
}

//Theme tags
.theme--books em {
    color:var(--book-dark);
    font-size: 0.8rem;
}

.theme--films em {
    color:var(--film-dark);
    font-size: 0.8rem;
}

.theme--tv em {
    color:var(--tv-dark);
    font-size: 0.8rem;
}

//Icones theme
.fa-book-open {
    color:var(--book-dark);
    background-color: var(--background-dark);
}

.fa-tv {
    color:var(--tv-dark);
    background-color: var(--background-dark);
    font-size: 0.8rem;
}

.fa-film {
    color:var(--film-dark);
    background-color: var(--background-dark);
    font-size: 0.9rem;
}

//Icone drag
.fa-sort {
    margin-right: 15px;
    font-size: 1.3rem;
    opacity: 0.5;
    cursor: grab;
}

//Item checked
.check {
    color : grey;
    text-decoration: line-through;
}

//Animations
.animate__animated {
    --animate-duration: 400ms;
    --animate-timing-function: ease-in-out; 
  }